In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from config import password
from sqlalchemy import create_engine

%matplotlib inline

In [ ]:
engine = create_engine(
    f'postgresql://postgres:{password}@localhost:5432/sql-challenge'
)

In [ ]:
conn = engine.connect()

read the salaries

In [ ]:
salaries_df = pd.read_sql('SELECT * FROM salaries', conn)

most common salaries

In [ ]:
fig = plt.figure(figsize=(12, 8))

hist with only 10 bins so it's easier to read

In [ ]:
ax = sns.histplot(
    salaries_df.salary,
    bins=10
)

setting labels

In [ ]:
ax.set(
    xlabel='Salary ($)',
    title='Salary Distribution'
)

set vertical line at avg salary

In [ ]:
plt.axvline(
    salaries_df.salary.mean(),
    color='black',
    ls='--'
).set_label('Average Salary')

In [ ]:
plt.legend()

In [ ]:
plt.savefig('Python/salary_dist.png', dpi=200)

bar chart of average salary by title<br>
sql query string

In [ ]:
query = 'SELECT ROUND(AVG(salary), 2), d.dept_name \
         FROM salaries s \
                JOIN employees e ON s.emp_no = e.emp_no \
                JOIN dept_emp de ON e.emp_no = de.emp_no \
                JOIN departments d ON de.dept_no = d.dept_no \
    GROUP BY d.dept_name'

read the query output into a dataframe

In [ ]:
salary_dept = pd.read_sql(
    query,
    conn
)

give columns better names

In [ ]:
salary_dept.columns = ['avg_salary', 'department']

In [ ]:
fig = plt.figure(figsize=(12, 8))

In [ ]:
ax = sns.barplot(
    x='department',
    y='avg_salary',
    data=salary_dept,
    palette='viridis'
)

In [ ]:
ax.set(
    xlabel='Department',
    ylabel='Average Salary ($)',
    title='Average Salary by Department'
)

rotate ticks and clean up layout

In [ ]:
ax.set_xticklabels(ax.get_xticklabels(), rotation=-45)
plt.tight_layout()

save fig

In [ ]:
plt.savefig('Python/avg_salary', dpi=200)